nav.navbar.navbar-dark.bg-primary.navbar-expand
    .container
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='/home')
                    span Home
            li.nav-item
                a.nav-link(href='/service')
                    span Services
            li.nav-item
                a.nav-link(href='/contact')
                    span Contact